<template>
  <my-layout>
    <div slot="J_head" class="headSlot"><div class="headCls">{{ msg }}</div></div>
    <div slot="J_main">main</div>
    <div slot="J_left">left</div>
    <div slot="J_right">right</div>
    <div slot="J_foot">foot</div>
  </my-layout>
</template>

<script>
import './layoutWeb.js'
export default {
  name: 'layout',
  data () {
    return {
      msg: '这是一个webcomponets组件'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.headSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.headCls {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
}
my-layout {
  width: 100%;
}
</style>
