<template>
  <div class="box">
    <div class="bigCircle">{{ msg }}</div>
    <ul class="threeCircle">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'vueHello',
  data () {
    return {
      msg: 'vue单文件组件'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul, li {
  list-style: none;
}
.box {
  position: relative;
  width: 300px;
  height: 300px;
  .bigCircle {
    transform: translateX(65%) translateY(60%);
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: 3px solid green;
  }
  .threeCircle {
      position: absolute;
      left: 25%;
      top: 38%;
      width: 20px;
      height: 20px;
      li {
        position: absolute;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        background-color: green;
        transform: rotate(0) translate(-80px, 0);
        animation: myRotate 3s linear infinite;
        &:nth-child(2) {
          animation-delay: -1s;
        }
        &:nth-child(3) {
          animation-delay: -2s;
        }
      }
    }
}

@keyframes myRotate {
	to {
		transform: rotate(1turn) translate(-80px, 0);
	}
}
</style>
